@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');

body {
    background-color: #fffbfb;
    color: rgb(3, 3, 3);
    font-size: 18px;
    font-weight: 500;
    font-family:'Roboto', sans-serif;
   
}
.foto {
    width: 200px;
    border-radius: 28px;
    box-shadow: 5px 5px 8px rgba(1, 1, 1, 1);
}
.stail{
    max-width: 1000px;
    margin: auto;
}
.info1 {
    background: #f1cc13;
    padding: 10px;
    margin: 20px;
    border-radius: 28px;
}

