@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');






body {
    background-color: rgb(255, 251, 251);
    color: rgb(9, 10, 9);
    font-size: 18px;
    font-weight: 500;
    font-family:'Roboto', sans-serif;
   
}
summary {
    font-size: 22px;
}
.foto {
    width: 200px;
    border-radius: 28px;
    box-shadow: 5px 5px 8px rgba(1, 1, 1, 1);
}
.stail{
    max-width: 1000px;
    margin: auto;
}



nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
  }

nav li {
    list-style-type: none;
    display: inline block;
  }

nav {
    padding: 15px;
  }

hr {
    color: rgb(245, 31, 31);
}



.info1 {
    background-color:  rgba(89, 126, 230, 0.4);
    padding: 10px;
    margin: 20px;
    border-radius: 28px;
}
.info2 {
    background-color: rgba(89, 126, 230, 0.4);
    padding: 10px;
    margin: 20px;
    border-radius: 28px
}
.info3 {
    background-color: rgba(89, 126, 230, 0.5);
    padding: 10px;
    margin: 20px;
    border-radius: 28px
}
.info4 {
    background-color: rgba(89, 126, 230, 0.6);
    padding: 10px;
    margin: 20px;
    border-radius: 28px
}

.info5 {
    background-color: rgba(89, 126, 230, 0.7);
    padding: 10px;
    margin: 20px;
    border-radius: 28px
}
.info6 {
    background-color: rgba(89, 126, 230, 0.8);
    padding: 10px;
    margin: 20px;
    border-radius: 28px
}
.info7 {
    background-color: rgba(89, 126, 230, 0.9);
    padding: 10px;
    margin: 20px;
    border-radius: 28px
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;     
  }

h2 {
    display: inline-block;
    margin: 0;
    font-size: 20px; 
}  

@media screen and (max-width: 1024px) {
    .stail {
       width: 100%;
    }

}

@media screen and (max-width: 720px) {
    nav ul {
        flex-direction: column;
    }
    
}